*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "ClashDisplay-Variable", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
}

::selection {
  background-color: var(--primary-color);
  color: var(--black);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

p {
  font-size: var(--p-font-size);
}

/* Utility Classes */
.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* Section */
.section--primary {
  background-color: var(--primary-color);
  color: var(--black);
}

.section--secondary {
  background-color: var(--black);
  color: var(--white);
}

/* Button */
.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 14px 38px;
  border-radius: 35px;
  font-size: 18px;
  transition: all 0.3s ease;
  background-color: var(--white);
  color: var(--black);
}

.button:hover {
  background-color: var(--light-gray);
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--black);
  font-weight: 600;
}

.button--primary:hover {
  background-color: var(--primary-color-dark);
}

.button--dark {
  background-color: var(--black);
  color: var(--white);
}

.button--dark:hover {
  background-color: var(--light-black);
}

/* Navbar */
.navbar {
  padding: 35px 77px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar.navbar--scroll {
  background-color: var(--navbar-bg-scroll-color);
  backdrop-filter: blur(10px);
}

.navbar__container {
  max-width: 1293px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo,
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  color: var(--white);
}

.navbar__logo img,
.footer__logo img {
  width: 40.5px;
  height: 40px;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  gap: 113px;
}

.navbar__menu-list,
.navbar__auth-list,
.footer__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 57px;
  font-weight: 500;
}

.navbar__menu-link,
.footer__menu-link {
  font-size: 18px;
}

.navbar__menu-link,
.navbar__auth-item:first-of-type,
.navbar__mobile-menu-link,
.footer__menu-link {
  position: relative;
  padding: 0 0 5px;
  color: var(--white);
  white-space: nowrap;
  transition: all 0.3s ease;
}

.navbar__menu-link::after,
.navbar__auth-item:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.navbar__menu-link:hover::after,
.navbar__auth-item:first-of-type:hover::after {
  width: 100%;
}

.navbar__auth-list {
  gap: 40px;
}

.navbar__auth-item:first-of-type {
  padding: 0;
}

.navbar__auth-link {
  color: var(--white);
  font-size: 18px;
}

/* Mobile Menu */
.navbar__mobile-menu {
  display: none;
}

.navbar__toggle-mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__toggle-mobile-menu svg {
  width: 25px;
  height: 24px;
}

.navbar__toggle-mobile-menu path {
  stroke: var(--white);
}

.navbar__toggle-mobile-menu:hover path {
  stroke: var(--light-gray);
}

.navbar__mobile-menu-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--body-bg-color);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.navbar__mobile-menu-items--active {
  transform: translateX(0);
}

.navbar__mobile-menu-list,
.navbar__mobile-auth-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar__mobile-auth-item {
  width: max-content;
}

/* Hero */
.hero {
  padding: 11.5rem 2rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}

.hero__content {
  max-width: 739px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  line-height: 1.2;
  margin: 0 auto;
  text-align: center;
}

.hero__description {
  color: var(--gray);
}

.hero__button-section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 250px;
}

.hero__label-image {
  position: absolute;
  top: -35%;
  left: 100%;
  width: 130px;
}

/* Hero Tabs */
.hero__tabs {
  position: relative;
  width: 100%;
  height: 130px;
}

.hero__tab {
  position: absolute;
}

.hero__tab:has(.fa-twitter) {
  transform: rotate(-3.93deg);
  left: 8%;
  top: 57%;
  z-index: 4;
}

.hero__tab:has(.fa-pinterest) {
  transform: rotate(3.86deg);
  left: 23%;
  top: 100%;
  z-index: 3;
}

.hero__tab:has(.fa-facebook) {
  transform: rotate(-7.02deg);
  left: 41%;
  top: 63%;
  z-index: 2;
}

.hero__tab:has(.fa-dribbble) {
  transform: rotate(3.67deg);
  left: 62%;
  top: 100%;
  z-index: 1;
}

.hero__tab-content,
.open-tabs__tab-content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 14px 37px;
  width: 339px;
  background-color: var(--light-black);
}

.hero__tab-icon i.fa-twitter {
  color: #1da1f2;
}

.hero__tab-icon i.fa-pinterest {
  color: #e60019;
  background-color: var(--white);
  border-radius: 50%;
}

.hero__tab-icon i.fa-facebook {
  color: #1877f2;
  background-color: var(--white);
  border-radius: 50%;
}

.hero__tab-icon i.fa-dribbble {
  color: #c32361;
  background-color: #ea4c89;
  border-radius: 50%;
}

.hero__tab-title,
.open-tabs__tab-title {
  white-space: pre;
  font-size: 18px;
}

.hero__tab-close-button,
.open-tabs__tab-close-button {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: linear-gradient(
    268.65deg,
    var(--light-black) 42.82%,
    rgba(24, 24, 24, 0.8) 92.18%
  );
  height: 100%;
  cursor: pointer;
}

/* Open Tabs */
.open-tabs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 51px;
  padding: 77px 18px 94px;
  max-width: 772px;
}

.open-tabs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 62px;
}

.open-tabs__illustration {
  position: relative;
}

.open-tabs__tab {
  color: var(--white);
  background-color: var(--white);
  padding: 55px 85px;
  width: max-content;
  border-radius: 16px;
}

.open-tabs__tab-content {
  min-height: 78px;
}

.open-tabs__tab-image {
  width: 40.5px;
}

.open-tabs__illustration-image {
  position: absolute;
}

.open-tabs__illustration-image:first-of-type {
  width: 109px;
  top: 50%;
  left: -28%;
  transform: translateY(-50%);
}

.open-tabs__illustration-image:last-of-type {
  width: 118px;
  top: 0;
  right: -30%;
}

.open-tabs__bottom-text {
  font-weight: 500;
}

/* Advantage */
.advantage__container {
  padding: 148px 0;
}

.advantage__text {
  font-size: 64px;
  font-weight: 500;
  line-height: 79px;
}

.advantage__text--weak {
  color: #ababab;
}

/* Startups */
.startups__container.container {
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 129px;
  padding: 187px 0 161px;
}

.startups__title,
.platforms__title {
  font-size: 64px;
  color: #323232;
  text-align: center;
}

.startups__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 35px;
  column-gap: 20px;
}

.startups__list-item {
  background-color: #eaeaea;
  width: 275px;
  height: 120px;
  border-radius: 8px;
  padding: 0 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startup__icon {
  display: flex;
  align-items: center;
}

/* Platforms */
.platforms__container {
  padding: 163px 0 138px;
  max-width: auto;
  display: flex;
  flex-direction: column;
  gap: 138px;
}

.platforms__content {
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.platforms__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}

.platforms__list-item {
  cursor: pointer;
  background-color: var(--white);
  padding: 37.5px 44.5px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.platforms__list-item:hover,
.platforms__list-item--active {
  background-color: var(--primary-color);
}

.platform__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.platforms__images {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 74px;
  max-width: 800px;
}

/* Packets */
.packets__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 98px 0 75px;
}

.packets__title {
  color: #d9d9d9;
  font-size: 52px;
}

.packets__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 39px;
  width: 100%;
}

.packets__list-item {
  background-color: var(--white);
  color: var(--black);
  padding: 29px 32px;
  border-radius: 20px;
  min-width: 339px;
  min-height: 535px;
  position: relative;
}

.packets__list-item--active {
  background-color: var(--primary-color);
}

.packets__item-content {
  padding-bottom: 17px;
}

.packets__item-title {
  font-size: 30px;
}

.packets__item-description {
  font-size: 18px;
  font-weight: 500;
  color: #585858;
}

.packets__item-pricing {
  padding: 13px 0 9px;
  display: flex;
  align-items: flex-end;
  color: #1e1e1e;
  gap: 10px;
}

.packets__item-price {
  font-weight: 500;
  font-size: 60px;
  line-height: 74px;
}

.packets__item-duration {
  line-height: 45px;
  font-weight: 500;
}

.packets__features-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.packets__features-item {
  position: relative;
  padding-left: 27px;
}

.packets__features-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 17.4px;
  height: 20px;
  background: url("../images/packet-marker.png") no-repeat center;
  background-size: contain;
}

.packets__item-button {
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: calc(100% - 32px);
  transform: translate(-50%, -100%);
  white-space: nowrap;
  min-width: 259px;
}

.packets__list-item--active .packets__item-button {
  background-color: var(--black);
  color: var(--white);
}

/* Packets Checkbox */
.packets__checkbox-wrapper .tgl {
  display: none;
}

.packets__checkbox-wrapper .tgl,
.packets__checkbox-wrapper .tgl:after,
.packets__checkbox-wrapper .tgl:before,
.packets__checkbox-wrapper .tgl *,
.packets__checkbox-wrapper .tgl *:after,
.packets__checkbox-wrapper .tgl *:before,
.packets__checkbox-wrapper .tgl + .tgl-btn {
  box-sizing: border-box;
}

.packets__checkbox-wrapper .tgl::-moz-selection,
.packets__checkbox-wrapper .tgl:after::-moz-selection,
.packets__checkbox-wrapper .tgl:before::-moz-selection,
.packets__checkbox-wrapper .tgl *::-moz-selection,
.packets__checkbox-wrapper .tgl *:after::-moz-selection,
.packets__checkbox-wrapper .tgl *:before::-moz-selection,
.packets__checkbox-wrapper .tgl + .tgl-btn::-moz-selection,
.packets__checkbox-wrapper .tgl::selection,
.packets__checkbox-wrapper .tgl:after::selection,
.packets__checkbox-wrapper .tgl:before::selection,
.packets__checkbox-wrapper .tgl *::selection,
.packets__checkbox-wrapper .tgl *:after::selection,
.packets__checkbox-wrapper .tgl *:before::selection,
.packets__checkbox-wrapper .tgl + .tgl-btn::selection {
  background: none;
}

.packets__checkbox-wrapper .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 107px;
  height: 44px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.packets__checkbox-wrapper .tgl + .tgl-btn:after,
.packets__checkbox-wrapper .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 30px;
  height: 29px;
}

.packets__checkbox-wrapper .tgl + .tgl-btn:after {
  left: 12px;
  top: 50%;
  transform: translate(0, -50%);
}

.packets__checkbox-wrapper .tgl + .tgl-btn:before {
  display: none;
}

.packets__checkbox-wrapper .tgl:checked + .tgl-btn:after {
  left: calc(100% - 42px);
}

.packets__checkbox-wrapper .tgl-light + .tgl-btn {
  background: #f3f3f3;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.packets__checkbox-wrapper .tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: var(--primary-color);
  transition: all 0.2s ease;
}
.packets__checkbox-wrapper .tgl-light:checked + .tgl-btn {
  background: var(--primary-color);
}

.packets__checkbox-wrapper .tgl-light:checked + .tgl-btn:after {
  background-color: #f3f3f3;
}

.packets__checkbox-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 43px 0 145px;
}

.packets__checkbox-label {
  font-size: 18px;
}

.packets__checkbox-label--active {
  font-weight: 500;
}

.packets__checkbox-label:last-of-type {
  order: 1;
}

.packets__arrow-image {
  position: absolute;
  top: 15%;
  left: 65%;
  width: max-content;
}

.packets__arrow-image img {
  width: 200px;
}

/* Join Us */
.join-us.section--primary {
  background-color: #beff67;
}

.join-us__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
  padding: 77.5px 0;
  max-width: 554px;
}

.join-us__title {
  line-height: 64px;
}

.join-us__title--weak {
  color: rgba(25, 25, 25, 0.4);
}

/* Footer */
.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.footer__logo {
  color: var(--black);
}

.footer__logo h4 {
  font-size: 24px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__menu-link {
  color: var(--black);
}

:root {
  /* Main Colors */
  --black: #050505;
  --light-black: #181818;
  --white: #ffffff;
  --gray: #7b7b7b;
  --light-gray: #d8d8d8;

  /* Primary Colors */
  --primary-color: #a8ff35;
  --primary-color-dark: #8ed82e;

  /* Body Colors */
  --body-bg-color: var(--black);

  /* Scroll Colors */
  --navbar-bg-scroll-color: rgb(23, 23, 23, 0.8);

  /* Font Sizes */
  --h1-font-size: 72px;
  --h2-font-size: 66px;
  --h3-font-size: 52px;
  --h4-font-size: 24px;
  --p-font-size: 20px;
}

/* Media Queries */
@media (max-width: 1340px) {
  /* Navbar */
  .navbar__logo h4,
  .navbar__menu {
    display: none;
  }

  /* Mobile Menu */
  .navbar__mobile-menu {
    display: block;
  }

  /* Hero */
  .hero {
    padding: 11.5rem 2rem 40px;
  }

  /* Hero Tabs */
  .hero__tabs {
    height: 335px;
  }

  .hero__tab:has(.fa-twitter) {
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0) rotate(-3.93deg);
    z-index: 1;
  }

  .hero__tab:has(.fa-facebook) {
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%) rotate(-7.02deg);
    z-index: 2;
  }

  .hero__tab:has(.fa-dribbble) {
    left: 50%;
    top: 66%;
    transform: translate(-50%, -66%) rotate(3.98deg);
    z-index: 4;
  }

  .hero__tab:has(.fa-pinterest) {
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%) rotate(-5.92deg);
    z-index: 3;
  }

  /* Open Tabs */
  .open-tabs__container {
    gap: 95px;
    padding: 74px 18px 31px;
  }

  .open-tabs__content {
    gap: 106px;
  }

  .open-tabs__tab {
    padding: 18px 34px;
  }

  .open-tabs__tab-content {
    width: 265px;
    padding: 19px 14.25px;
  }

  .open-tabs__illustration-image:first-of-type {
    top: 58%;
    left: 20%;
    transform: rotate(-60.45deg);
  }

  .open-tabs__illustration-image:last-of-type {
    top: -87%;
    right: -3%;
    transform: rotate(-21.96deg);
  }

  .open-tabs__bottom-text {
    font-size: 14px;
  }

  /* Advantage */
  .advantage__container {
    padding: 59.5px 29.5px;
  }

  /* Startups */
  .startups__container.container {
    gap: 64px;
    padding: 97px 18px;
  }

  .startups__list {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 15px;
  }

  /* Platforms */
  .platforms__container {
    padding: 74px 18px 138px;
    gap: 103px;
  }

  .platforms__content {
    gap: 101px;
  }

  .platforms__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
    width: max-content;
    align-self: center;
  }

  .platforms__images {
    gap: 53px;
  }

  /* Packets */
  .packets__container {
    padding: 79px 25px 30px;
  }

  .packets__title {
    font-size: 43px;
  }

  .packets__checkbox {
  }

  .packets__list {
    width: max-content;
    grid-template-columns: 1fr;
  }

  /* Footer */
  .footer__container {
    flex-direction: column;
    gap: 63px;
    padding: 53.5px 12px;
  }

  .footer__logo {
    color: var(--black);
  }

  .footer__menu-list {
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 940px) {
  /* Startups */
  .startups__title {
    font-size: 33px;
  }

  .startups__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 14px;
    column-gap: 19px;
  }

  .startups__list-item {
    width: 160px;
    height: 68px;
    padding: 0 18px;
  }

  /* Platforms */
  .platforms__title {
    font-size: 35px;
  }

  .platforms__list-item {
    padding: 30px 36px;
  }
}

@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    padding: 36px 18px;
  }

  /* Advantage */
  .advantage__text {
    font-size: 36px;
    line-height: 44px;
  }

  /* Join Us */
  .join-us.section--primary {
    background-color: #beff67;
  }

  .join-us__container {
    padding: 80px 26px;
    max-width: auto;
  }
}

@media (max-width: 576px) {
  /* Root Variables */
  :root {
    /* Font Sizes */
    --h1-font-size: 37px;
    --h2-font-size: 31px;
    --h3-font-size: 52px;
    --h4-font-size: 33px;
    --p-font-size: 14px;
  }

  /* Hero */
  .hero {
    padding: 138px 18px 40px;
    position: relative;
  }

  .hero__container {
    gap: 42px;
  }

  .hero__label-image {
    display: none;
  }
}
