*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "ClashDisplay-Variable", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg-color);
  color: var(--white);
}

::selection {
  background-color: var(--primary-color);
  color: var(--black);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

p {
  font-size: var(--p-font-size);
}

/* Utility Classes */
.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* Button */
.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 14px 38px;
  border-radius: 35px;
  font-size: 18px;
  transition: all 0.3s ease;
  background-color: var(--white);
  color: var(--black);
}

.button:hover {
  background-color: var(--light-gray);
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--black);
  font-weight: 600;
}

.button--primary:hover {
  background-color: var(--primary-color-dark);
}

.button--dark {
  background-color: var(--black);
  color: var(--white);
}

.button--dark:hover {
  background-color: var(--light-black);
}

/* Navbar */
.navbar {
  padding: 35px 77px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar.navbar--scroll {
  background-color: var(--navbar-bg-scroll-color);
  backdrop-filter: blur(10px);
}

.navbar__container {
  max-width: 1293px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  color: var(--white);
}

.navbar__logo img {
  width: 40.5px;
  height: 40px;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  gap: 113px;
}

.navbar__menu-list,
.navbar__auth-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 57px;
  font-weight: 500;
}

.navbar__menu-link {
  font-size: 18px;
}

.navbar__menu-link,
.navbar__auth-item:first-of-type,
.navbar__mobile-menu-link {
  position: relative;
  padding: 0 0 5px;
  color: var(--white);
  white-space: nowrap;
  transition: all 0.3s ease;
}

.navbar__menu-link::after,
.navbar__auth-item:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.navbar__menu-link:hover::after,
.navbar__auth-item:first-of-type:hover::after {
  width: 100%;
}

.navbar__auth-list {
  gap: 40px;
}

.navbar__auth-item:first-of-type {
  padding: 0;
}

.navbar__auth-link {
  color: var(--white);
  font-size: 18px;
}

/* Mobile Menu */
.navbar__mobile-menu {
  display: none;
}

.navbar__toggle-mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__toggle-mobile-menu svg {
  width: 25px;
  height: 24px;
}

.navbar__toggle-mobile-menu path {
  stroke: var(--white);
}

.navbar__toggle-mobile-menu:hover path {
  stroke: var(--light-gray);
}

.navbar__mobile-menu-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--body-bg-color);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.navbar__mobile-menu-items--active {
  transform: translateX(0);
}

.navbar__mobile-menu-list,
.navbar__mobile-auth-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar__mobile-auth-item {
  width: max-content;
}

/* Hero */
.hero {
  padding: 11.5rem 2rem 8rem;
  position: relative;
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
  /* background-color: red; */
}

.hero__content {
  max-width: 739px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  line-height: 1.2;
  margin: 0 auto;
  text-align: center;
}

.hero__description {
  color: var(--gray);
}

.hero__label-image {
  position: absolute;
  top: 38%;
  left: 61%;
}

.hero__label-image {
  width: 130px;
}

/* Hero Tabs */
.hero__tabs {
  position: relative;
}

.hero__tab {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 14px 37px;
  width: 339px;
  background-color: var(--light-black);
}

.hero__tab-icon i.fa-twitter {
  color: #1DA1F2;
}

.hero__tab-icon i.fa-pinterest {
  color: #E60019;
  background-color: var(--white);
  border-radius: 50%;
}

.hero__tab-icon i.fa-facebook {
  color: #1877F2;
  background-color: var(--white);
  border-radius: 50%;
}

.hero__tab-icon i.fa-dribbble {
  color: #EA4C89;
  background-color: #C32361;
  border-radius: 50%;
}

.hero__tab-title {
  white-space: pre;
  font-size: 18px;
}

.hero__tab-close-button {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: linear-gradient(268.65deg, var(--light-black) 42.82%, rgba(24, 24, 24, 0.8) 92.18%);
  height: 100%;
}

:root {
  /* Main Colors */
  --black: #050505;
  --light-black: #181818;
  --white: #ffffff;
  --gray: #7b7b7b;
  --light-gray: #d8d8d8;

  /* Primary Colors */
  --primary-color: #a8ff35;
  --primary-color-dark: #8ed82e;

  /* Body Colors */
  --body-bg-color: var(--black);

  /* Scroll Colors */
  --navbar-bg-scroll-color: rgb(23, 23, 23, 0.8);

  /* Font Sizes */
  --h1-font-size: 72px;
  --h2-font-size: 66px;
  --h3-font-size: 52px;
  --h4-font-size: 24px;
  --p-font-size: 20px;
}

/* Media Queries */
@media (max-width: 1340px) {
  /* Navbar */
  .navbar__logo h4,
  .navbar__menu {
    display: none;
  }

  /* Mobile Menu */
  .navbar__mobile-menu {
    display: block;
  }

  /* Hero */
  .hero__label-image {
    left: 65vw;
  }
}

@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    padding: 36px 18px;
  }

  /* Hero */
  .hero__label-image {
    display: none;
  }
}

@media (max-width: 576px) {
}
